.carouselimg
{
    width: 1210px;
    height: 500px;
}
.wedohead
{
    color: black;
    font-family: "DM Serif Display", serif; 
}
.wedopara
{
    color: black;
    font-family: "Jost", sans-serif; 
}
.caouselhead
{
    color: white;
    font-family: "DM Serif Display", serif; 
}
.formhead
{
    color: black;
    font-family: "DM Serif Display", serif;  
}