.searchbar
{
    text-decoration: none;
    background-color: #F4F0EC;
    /* height: 30px;
    align-items: center; */
}
input[type=text] 
{
    font-family: "Jost", sans-serif; 
    background-color: #F4F0EC;
}
input::placeholder 
{
    
    opacity: 0.5;
    color: #CDA274;  
} 
.searchbarlink
{
    text-decoration: none;
    color: #CDA274;  
}
.bloghead
{
    font-family: "DM Serif Display", serif;
}